xml/nutshell/namespace/prefix.dtd

<!ENTITY % dc-prefix "dc">
<!ENTITY % dc-colon ":">

<!ENTITY % dc-title		"%dc-prefix;%dc-colon;title">
<!ENTITY % dc-creator	"%dc-prefix;%dc-colon;creator">
<!ENTITY % dc-description "%dc-prefix;%dc-colon;description">
<!ENTITY % dc-date		"%dc-prefix;%dc-colon;date">

<!ELEMENT %dc-title; (#PCDATA)>
<!ELEMENT %dc-creator; (#PCDATA)>
<!ELEMENT %dc-description; (#PCDATA)>
<!ELEMENT %dc-date; (#PCDATA)>
<!ELEMENT rdf:Descripption
	((%dc-title; | %dc-creator; | %dc-description; | %dc-date;)*)>
